{% load static %}

<div class="navBar">
    <a href="/">Now Playing</a>
    <a href="/reviews">Reviews</a>
    <a href="/search">Refresh</a>
</div>

<head>
    <link rel="stylesheet", href="{% static 'cssFiles/searchStyle.css' %}">
    <strong style="align-self: center; font-size: 30px;">Search Results</strong>
</head>

<div class="searchWrapper">
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {{ searchForm }}
            <p></p>
            <input type="submit" value="Submit" style="border-radius: 5px; cursor: pointer;">
        </form>
    </div>

<body>
    <ol class="alternating-colors">
        {% for movie in list %}
            <li>
                <strong>{{movie.title}}</strong>
                <p>{{movie.desc}}</p>
                <div class="IDReviewLine">    
                    <p>ID: {{movie.id}}</p>
                    <a href="/review/{{movie.id}}">
                        <button id="reviewButton" style="height: fit-content; border-radius: 5px; cursor: pointer;">Review</button>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ol>
</body>